@import "./mixin.scss";

.card {
    width: 100%;

    &__image {
        width: 100%;
        object-fit: contain;
        @include border;
    }

    &__title {
        text-align: center;
        color: white;

        @media (max-width: 900px) {
            font-size: 1em;
            margin-block-start: 0.5em;
        }
    }
}

