.collapse {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        border-style: solid;
        border-radius: 20px;
        border-color: #10a95b;
        border-width: 4px;
        background-color: black;
        font-family: 'Roboto Slab';
    }
    &__title--h {
        color: white;
        font-family: 'Roboto Slab';
    }
    &__title button {
        border: none;
        background-color: black;
        height: 60%;

    }
    &__content {
        list-style-image: linear-gradient(to left bottom, green, white);
        color: white;
        font-family: 'Roboto Slab';
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }
}
