.competences {
    background-color: black;
    padding-top: 30px;
    &__title {
        text-align: center;
        margin-bottom: 70px;
        color: #10a95b;
        font-family: 'Roboto Slab';
    }
    &__content {
        column-count: 2;
        column-gap: 40px;
        column-fill: balance;
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Roboto Slab';
    }
    &__collapse {
        margin-bottom: 40px;
        -webkit-column-break-inside: avoid;
    }
    &__li {
        margin-bottom: 10px;
    }
}