.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-top: 30px;
    font-family: 'Roboto Slab';
    &__title {
    color: #10a95b;
    font-family: 'Roboto Slab';
    }
    & input, textarea {
        border-radius: 10px;
        border-color: #10a95b;
        width: 50%;
        border-width: 5px ;
        border-style: solid;
        font-size: 18px;
    }
    & input {
        height: 3em;
    }
    &__submit {
        color: #10a95b;
        background-color: black;
        width: 25%;
        border-radius: 10px;
        border-color: #10a95b;
        font-size: 20px;
        font-weight: 600;
        border-width: 5px ;
        border-style: solid;
        font-family: 'Roboto Slab';
    }
}
