.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-top: 30px;
    font-family: 'Roboto Slab';
    &__title {
    color: #10a95b;
    font-family: 'Roboto Slab';
    margin-bottom: 50px;
    @media (max-width: 900px) {
        margin-bottom: 40px;
        font-size: 2em;
    }
    @media (max-width: 720px) {
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    }
    & input, textarea {
        border-radius: 10px;
        border-color: #10a95b;
        width: 50%;
        border-width: 4px ;
        border-style: solid;
        font-size: 1.1em;
        @media (max-width: 720px) {
            border-width: 2px;
            width: 80%;
        }
    }
    & input {
        height: 3em;
        @media (max-width: 720px) {
            height: 2em;
        }
    }
    &__submit {
        color: #10a95b;
        background-color: black;
        width: 25%;
        border-radius: 20px;
        border-color: #10a95b;
        font-size: 1.3em;
        font-weight: 600;
        border-width: 4px ;
        border-style: solid;
        font-family: 'Roboto Slab';
        margin-bottom: 20px;
        @media (max-width: 720px) {
            border-width: 2px;
            font-size: 1em;
        }
    }
    &__submit:hover {
        cursor: pointer;
    }
    & label {
        font-weight: 600;
    }
}
