@import "./mixin.scss";

.error {
    background-color: black;
    color: #10a95b;
    @include displayCenter;
    flex-direction: column;
    padding-bottom: 20px;
    min-height: 59vh;

    & h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-top: 20px;
        font-size: 8em;
        
        @media (max-width: 900px) {
            font-size: 7em;       
        }

        @media (max-width: 720px) {
            font-size: 6em;
        }
    }

    & h3 {
        font-size: 3em;
        margin-block-end: 0;
        margin-block-start: 0.5em;
        text-align: center;
        @media (max-width: 900px) {
            font-size: 2em;       
        }
    }

    & p {
        font-size: 2em;
        
        @media (max-width: 900px) {
            font-size: 1.5em;       
        }
    }

    & a {
        text-decoration: none;
        color: #10a95b;
        font-size: 2em;
        border-style: solid;
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 600;
        border-width: 4px;
        @media (max-width: 900px) {
            font-size: 1.5em;       
        }
    }

    & a:hover {
        color: black;
        background-color: #10a95b;
        font-weight: 800;
    }
}