.background {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    background-color: black;
    font-family: 'Roboto Slab';

    &__link {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width: 900px) {
            font-size: 0.8em;
            gap: 15px;
        }

        @media (max-width: 720px) {
            font-size: 0.7em;
            gap: 5px;
        }

        @media (max-width: 450px) {
            font-size: 0.6em;
        }
    }

    & a {
        text-decoration: none;
    }

    & p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-weight: 600;
    }

    & h1 {
        padding-left: 0.5em;
        padding-right: 0.5em;

        @media (max-width: 900px) {
            font-size: 1.5em;
        }

        @media (max-width: 720px) {
            font-size: 1em;
        }

        @media (max-width: 450px) {
            padding-left: 0;
            padding-right: 0;
            font-size: 0.9em;
        }

    }
}

.active {
    color: black;
    background-color: #10a95b;
    border-radius: 20px;
}

.pending {
    color: #10a95b;
}

.pendingH1 {
    color: #10a95b;
    margin-top: 10px;
    margin-bottom: 10px;
}

.activeH1 {
    color: black;
    background-color: #10a95b;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.activeH1 h1,
.pendingH1 h1 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}


