.home {
    background-color: black;
    font-family: 'Roboto Slab';
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    &__image {
        width: 35%;
        object-fit: cover;
    }
    &__text {
        width: 50%;
        text-align: justify;
    }
    &__identite {
        color: white;
        margin-bottom: 30px;
    }
    &__parcours {
        color: white;
        list-style-image: linear-gradient(to left bottom, green, white);
    }
    &__title {
        color:  #10a95b;
        text-align: center;
        margin-bottom: 30px;
    }
    &__list {
        padding-left: 0;
    }
    &__list li {
        margin-bottom: 8px;
    }
}