@import "./mixin.scss";

h2 {
    @media (max-width: 720px) {
    font-size: 1.3em;
    }
}

.projectDetails {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    animation: fadeIn 2.5s ease-in-out;
    &__title-image {
        @include displayCenter;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__title {
        @include title
    }

    &__image {
        width: 80%;
        height: auto;
        justify-content: center;
        object-fit: cover;
        @include border;

        @media (max-width: 900px) {
            width: 82%;
        }
    }

    &__description-outils {
        display: flex;
        height: auto;
        justify-content: space-around;
        margin-top: 50px;

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
            margin-top: 0;
        }
    }

    &__description {
        @include border;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 10px;
        color: white;
        background-color: black;
        font-family: 'Roboto Slab';

        @media (max-width: 900px) {
            width: 80%;
        }

        @media (max-width: 720px) {
            font-size: 0.8em;
        }
    }

    &__link {
        @include displayCenter;
        font-size: 2.4em;
        margin-top: 30px;
        text-decoration: none;
        color: #10a95b;
        font-family: 'Roboto Slab';
        text-align: center;

        @media (max-width: 900px) {
            font-size: 1.8em;
        }

        @media (max-width: 720px) {
            font-size: 1.3em;
        }
    }

    &__li {
        margin-bottom: 5px;
    }
    &__diffiicultes{
        font-family: 'Roboto Slab';
        width:60%;
        color: white;
        @include border;
        @include displayCenter;
        flex-direction: column;
        text-align: justify;
        padding: 10px 10px 20px 10px;
        margin-top: 40px;
        @media (max-width: 900px) {
            width: 80%;
        }
        @media (max-width: 720px) {
            font-size: 0.8em;
        }

    }
    &__diffiicultes--place {
        @include displayCenter;
    }
}

.background {
    background-color: black;
}


