@import "./mixin.scss";

.projects {
    background-color: black;
    padding-top: 30px;

    &__title {
        @include title;
    }

    &__content {
        @include displayCenter;
        flex-wrap: wrap;
        gap: 10%;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Roboto Slab';

        @media (max-width: 720px) {
            flex-direction: column;
        }
    }

    &__card {
        width: 40%;

        @media (max-width: 720px) {
            width: 80%;
        }
    }

    &__card :hover {
        transform: scale(1.05);
    }

    &__card a {
        text-decoration: none;
    }
}
