.projects {
    &__title {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 70px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    &__card {
        width: 40%;
    }
}