.projectDetails {
    margin-left: 50px;
    margin-right: 50px;
    &__title-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    &__title {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
        color: #10a95b;
        font-family: 'Roboto Slab';
        @media (max-width: 900px) {
            margin-bottom: 40px;
            font-size: 2em;
        }
        @media (max-width: 720px) {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
    }
    &__image {
        width: 80%;
        justify-content: center;
        object-fit: cover;
        border-style:solid;
        border-radius: 20px;
        border-color: #10a95b;
        border-width: 4px;
        @media (max-width: 900px) {
            width: 82%;
        }
        @media (max-width: 720px) {
            border-width: 2px;
        }
    }
    &__description-outils{
        display: flex;
        height: auto;
        justify-content: space-between;
        margin-top: 50px;
        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
            margin-top: 0;
        }
    }
    &__description {
        border: solid;
        border-radius: 20px;
        border-width: 4px;
        border-color: #10a95b;
        width: 40%;
        display: flex;
        align-items: center;
        text-align: justify;
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 10px;
        color: white;
        background-color: black;
        font-family: 'Roboto Slab';
        @media (max-width: 900px) {
            width: 80%;
        }
        @media (max-width: 720px) {
            font-size: 0.8em;
            border-width: 2px;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        font-size: 2.4em;
        margin-top: 30px;
        text-decoration: none;
        color:#10a95b;
        font-family: 'Roboto Slab';
        @media (max-width: 900px) {
            font-size: 1.8em;
        }
        @media (max-width: 720px) {
            font-size: 1.3em;
        }
        
    }
    &__li {
        margin-bottom: 5px;
    }
}

.background {
    background-color: black;
}

